* {
	margin: 0;
	padding: 0;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 940px;
}

.hero {
	min-height: 100vh;
	background-image: url('img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.hero .hero-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 940px;
	padding: 80px 0;
}

.hero-heading {
	text-align: center;
	color: white;
}

.main-heading {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-size: 60px;
	letter-spacing: 5.71px;
}

.main-subheading {
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.scroll-link {
	text-decoration: none;
	color: white;
	font-weight: 600;
	letter-spacing: 3.5px;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 65px;
	border: 1px solid #e6e6e6;
}

.navigation-list {
	display: flex;
	list-style: none;
	gap: 35px;
}

.navigation-list a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: #48555b;
	font-size: 12px;
	letter-spacing: 1.09px;
}

.navigation-list a:hover {
	color: #00a4e5;
}

.sections-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.our-story-section {
	padding: 65px 0;
}

.first-section-heading {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 2.31px;
	color: #48555b;
	text-align: center;
}

.strong-heading {
	color: #16ace8;
}

.story-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.story-content img {
	margin-top: 15px;
	margin-bottom: 30px;
}

.story-content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.story-content-text {
	max-width: 40%;
}

.images {
	display: flex;
	align-self: flex-end;
	justify-content: flex-end;
	gap: 25px;
}

.we-plan {
	background-image: url('img/Bitmap.jpeg');
}

.story-content-subheading {
	font-size: 13px;
	font-weight: 400;
	line-height: 2.3;
	margin-top: 30px;
	letter-spacing: 0.19px;
}

.we-manage {
	background-image: url('img/Bitmap(1).jpeg');
}

.we-build {
	background-image: url('img/Bitmap(2).jpeg');
}

.we-plan,
.we-manage,
.we-build {
	height: 224px;
	width: 140px;
	background-size: cover;
	background-position: center;
}

.story-images-heading {
	font-weight: 800;
	font-size: 24px;
	margin: 10px;
	line-height: 1.3;
	letter-spacing: 0.19px;
	text-align: left;
	color: white;
}

.capabilities-content-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 70px;
	max-height: 40px;
}

.our-capabilities-heading {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 2.31px;
	white-space: nowrap;
}

.our-capabilites-subheading {
	font-size: 11px;
	line-height: 1.9;
	letter-spacing: 0.2px;
	text-align: left;
	white-space: nowrap;
}

.our-capabilities-heading,
.our-capabilites-subheading {
	color: #48555b;
}

.our-capabilities-button,
.hero-build-button,
.form-button {
	width: 150px;
	height: 40px;
	background-color: #00a4e5;
	border: none;
	font-weight: 700;
	color: white;
	font-size: 13px;
	letter-spacing: 0.6px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.capabilities-descrition {
	margin-top: 60px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.project,
.structure,
.factory {
	width: 295px;
	height: 330px;
	border: 1px solid #e6e6e6;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.capabilities-images,
.capabilties-description-heading,
.capabilities-description-subheading {
	margin-left: 15px;
}

.capabilties-description-heading,
.capabilities-description-subheading {
	color: #48555b;
}

.capabilties-description-heading {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.43px;
	line-height: 1.4;
}

.capabilities-description-subheading {
	font-size: 13px;
	letter-spacing: 0.19px;
	line-height: 2;
	text-align: left;
}

.hero-build {
	margin-top: 80px;
	padding: 200px 0;
	min-height: 100vh;
	width: 100%;
	background-image: url('img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-bottom: -3px;
}

.hero-build .hero-build-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.hero-build-heading {
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 0.15px;
	text-align: center;
	color: #48555b;
}

.form-wrapper {
	background-color: #171819;
	min-height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 120px;
}

.form {
	display: flex;
	align-items: center;
}

.form-heading {
	color: white;
	font-weight: 700;
	font-size: 22px;
	letter-spacing: 0.85px;
	text-align: center;
}

.form-input {
	width: 250px;
	height: 40px;
	color: #48555b;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 0.07px;
	padding-left: 15px;
	border: none;
}

.faq {
	background-color: #141a20;
	padding: 50px 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.company,
.contact,
.media {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.company-subheading,
.links-subheading,
.links-li,
.contact-subheading,
.address {
	font-size: 11px;
	letter-spacing: 0.85px;
	color: white;
	font-weight: 100;
}

.company-subheading {
	max-width: 250px;
}

.footer-logo {
	height: 23px;
	width: 100px;
}

.links {
	display: flex;
	justify-content: space-between;
}

.links-list li {
	list-style: none;
}

.links-li {
	font-weight: 600;
	line-height: 2.5;
}

.links-separated-1,
.links-separated-2 {
	margin: 0 20px;
}

.links-separated-3 {
	margin-left: 20px;
}

.links-subheading-block {
	margin-bottom: 10px;
}

.links-separated-2,
.links-separated-3 {
	margin-top: 20px;
}

.address {
	max-width: 128px;
}

.contact-subheading {
	margin-bottom: 20px;
}

.address a {
	text-decoration: none;
	color: white;
}

.address {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-style: normal;
}
